<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikipedia - Kingdom of Jordan</title>
</head>

<style>
    h1 {
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: darkred;
        margin-left: 5%;
        margin-right: 5%;
    }

    h2 {
        display: block;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        color: darkred;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
    }

    p {
        text-align: justify;
        font-weight: bolder;
        font-family: 'Courier New', Courier, monospace;
        margin-left: 5%;
        margin-right: 5%;
    }

    h3 {
        text-align: center;
    }


</style>

<body>
    <h1> Content from Wikipedia about the Kingdom of Jordan</h1>
    <div>
        <div>

            <div>
                <img src="<%= data['img']%>" alt="image of jordanian flag">
            </div>

            <div>
                <h2><%= data["title"]%></h2>
                <p><%= data["desc"]%></p>
            </div>

        </div>

    </div>

    <h3>Razan Afghani Su22 INEW 2334.250</h3>
</body>

</html>